.dropdown-toggle{
	color: white;																		
}

.dropdown-toggle:hover{
	color: green;
}

.btn-outline-success{
	border-radius: 30px;
	background-color: #26ae61;
	color: white;
}

.col-6{
	color: #333;
	font-size: 42px;    
	line-height: 60px;
	margin-bottom: 25px;
	margin-top: 5%;
	/*font-weight: 700;*/
	width: 10px;
	font-family: Comic Sans MS, sans-serif;
	font-weight: 700;
}

.plan{
	padding-top: 10%;
}

.a{
	font-size: 42px;
	font-family: Comic Sans MS, sans-serif;
	padding-left: 10%;
}

.aa{
	color: grey;
	font-size: 14px;
	font-family: rubik, sans-serif;
	margin-top: 4%;
	padding-left: 10%;
}

.form-control{
	border-radius: 30px;
	border-color: #26ae61;
	width: 89%;
	margin-bottom: 16%;
	margin-top: 6%;
}

.fa-search{
	right: 1px;
	padding: 19px;
	background-color: #26ae61;
	border-radius: 27px;
	top:272px;
}

.sm-3{
	position: relative;
	padding: 20px;
	bottom: 10px;
	padding-left: 70%;
	height: 50%;
	width: 30%
}

.si{
	margin-top:25px;
	width: 97%;
}


.sii{
	font-size: 30px;
	font-family: rubiks, sans-serif;
	font-weight: 700;
	position: relative;
}

.siii{
	color: grey;
	line-height:2px; 
}  

.catimage img{
	height: 90px;
	margin-left: 14%;
	margin-top: 30%;
}

.coll{
	height: 10%;
	margin-left: 20%;
	margin-top: 14%;	
}
.sa{
	font-size: 18px;
	line-height: 34px;
	font-family: Comic Sans MS, sans-serif;
	color: #333;
	font-weight: 700;
	margin-left: 16%;
	margin-top: 2%;
}

.s img{
	margin-left: 16%;
	padding-top: 12%;
}

.text{
	text-align: center;
	color: green;
	font-size: 20px;
	font-family: Comic Sans MS, sans-serif;
}

.sea{
	margin-left: 251%;
	margin-top: -81%;
}

.btn-common{
	border-radius: 20px;
	background-color: #26ae61;
	color: white;
	margin-top: -22em;
	margin-right: 52px;
	margin-left: 18%;
}

.line{
	margin-top: 6%;
}


.carr{
	font-size: 30px;
	position: relative;
	font-weight: 700;
	line-height: 5;
}


.fa-map-marker-alt {
	/*padding-left:44%;*/
	/*margin-left: 20%;*/
	position: absolute;
	margin-top: 5%;
	padding-left: 1%;
	font-size: 111%
}

.ma{
	text-align: center;
}

.para{
	color: #6b6969;
	font-size: 14px;
	line-height: 2%;
	font-family: rubik,sans-serif;
	margin-top: -49px;
}

.sign{
	color: grey;
	line-height: 26px;
	font-family: rubik,sans-serif;
	font-size: 14px;
	margin-left:18%;
}

.imag{
	margin-left: 102%;
	height: 44%;
	margin-top: -261px;
}

.line1{
	margin-top: -28%;
}

.j{
	margin-left: 48%;
	margin-top:-265px;
	font-size: 36px;
	font-weight: 500;
}

.para2{
	font-size: 14px;
	color: #6b6969;
	line-height: 26px;
	font-family: rubik,sans-serif;
	margin-left: 53%;
	padding-top: 2%;
}

.line2{
	margin-top: 14%;
}

.e{
	margin-left: 15%;
	font-size: 14px;
	color: #6b6969;
	line-height: 2px;
}

.inner{
	border-radius: 50%;
	width:75%;
}

/*.footer-Content{
	padding-top: 60px;
	padding-bottom: 60px; 
	margin-top: 134px;
	margin-left:-12%;
	background-color: #24324a;
}*/

/*footer section start from here*/

.section{
	padding-top: 60px;
	padding-right: 0px;
	padding-bottom: 60px;
	padding-left: 0px;
}

.bg-gray{
	background-color: rgb(249, 252, 255);
}


.mobile{
	width: 152%;
	margin-left: -54%;
}

.download-wrapper{
	width: 100%;
	display: table;
	height: 100%;
}

.download-wrapper .download-text h4{
	font-size: 36px;
	font-weight: 500;
	margin-bottom: 33px;
	margin-top: 10%;
	font-family: Comic Sans MS, sans-serif;
}

.z{
	color: #6b6969;
	line-height: 26px;
	font-family: rubik, sans-serif;
	margin-top: 0;
	margin-bottom: 35px;
	font-size: 14px;
}

.img-fluid{
	max-width: 100%;
	height: auto;
}

.mobile{
	width:159%;
	margin-left: -43%;
}

/*http://localhost/PlanMyCareerHomepage/PlanMyCareerPage/index.html ---