.dropdown-toggle{
	color: white;
}

.dropdown-toggle:hover{
	color: green;
}

.btn-outline-success{
	border-radius: 30px;
	background-color: #26ae61;
	color: white;
}

.col-6{
	color: #333;
	font-size: 42px;    
	line-height: 60px;
	margin-bottom: 25px;
	margin-top: 5%;
	/*font-weight: 700;*/
	width: 10px;
	font-family: Comic Sans MS, sans-serif;
	font-weight: 700;
}

.plan{
	padding-top: 10%;
}

.form-control{
	border-radius: 30px;
	border-color: #26ae61;
}

.fa-search{
	padding-left: 87%;
	margin-top: -1.5%;
}
/*.aaa{
	font-family: sans-serif;
	padding-top: 80px;
	margin-left: 5%;
	font-weight: 700;
	font-size: 42px;
}*/

/*.aaaa{
	font-family: sans-serif;
	font-size: 14px;
	color: grey;
	margin-left: 5%;
}*/

