.navbar .navi{ color: #26ae61; font-size: 14px; padding-left: 2%; }

.navbar-nav .nav-item .qq{color: #f8f9fa;}


.browse-cate{text-align: center;}

.cf{ overflow-x: hidden;}

.md-7 tj{ margin-top: 20%; font-weight: 500; font-size: 36px;	margin-right: 10%;}


.catimage{ border-color: #f1f1f1; border:1px solid; margin-right: -31px; padding-left: 10px; text-align: center;}

.catimage img{ margin-top: 20px; max-width: 25%;}

.plan input{ max-width: 75%; border: 1px solid #4aaf61; border-radius: 20px;}


.arr{ color: black; }

.end{ text-align: center; }
.tj{margin-top: 20%; font-weight: 500; font-size: 36px; margin-right: 10%;}

.eemail{max-width: 60%;	margin-left: 75px; background-color: #24324a; border: 1px solid #4aaf61; border-radius: 21px; margin-top: 20px; position: relative;}

.env{position: absolute; right: 83px; bottom: 69px; color: white; background-color: #4aaf61; padding: 10px; border-top-right-radius: 15px; border-bottom-right-radius: 15px;}


body::-webkit-scrollbar{width: 9px;}

body::-webkit-scrollbar-track {border-radius:7px solid #232943; box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,0.5);}

.uni{display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: 54px;}

body::-webkit-scrollbar-thumb{background: green; border-radius: 10px; color: white;}

.my{color: green; font-size: 14px; padding-left: 2%;}
.logo{height:50px ; max-width:100%;}

/*till here scroll bar color available*/

.nav-link:hover{color: green;}
.tad:hover{color: green;}

.nav-item:hover{color: green;}

.dropdown-toggle{color: white;}																		
.dropdown-toggle:hover{color: green;}

.btn-outline-success{border-radius: 30px; background-color: #26ae61; color: white;}

.col-6{color: #333; font-size: 42px; line-height: 60px; margin-bottom: 25px; margin-top: 5%; width: 10px; font-family: Comic Sans MS, sans-serif; font-weight: 700;}

.plan{padding-top: 10%;}

.a{font-size: 42px; font-family: Comic Sans MS, sans-serif; font-weight: 700;}


.aa{color: #6b6969;	font-size: 14px; font-family: rubik, sans-serif; margin-top: 4%; margin-left:-2%; line-height: 26px;}

.aaa{color: grey; margin-left: 0%; font-size: 14px; font-family: rubiks, sans-serif; margin-top: 4%; }

.fa-search{	padding:9px; background-color: #26ae61; border-radius: 27px; color: white; bottom: 82px; right: 115px;}

.ar{color: #f8f9fa;}

.sm-3{position: relative; padding: 20px; bottom: 10px; padding-left: 70%; height: 50%; width: 30%}

.si{margin-top:39px; width: 97%;}


.sii{font-size: 30px; font-family: rubiks, sans-serif; font-weight: 700; position: relative; margin-top: 71px;}

.siii{color: grey; line-height:2px; margin-bottom: 80px;}  


.coll{height: 10%; margin-left: 20%; margin-top: 14%;}

.sa{font-size: 18px; line-height: 34px;	font-family: Comic Sans MS, sans-serif; color: #333; font-weight: 700; margin-top: 2%;}

.s img{margin-left: 341px; margin-top: -208px;}

.text{text-align: center; font-size: 20px; font-family: Comic Sans MS, sans-serif; margin-top: 3%;}

.text:hover{color: green;}

.arrow{	margin-left: 1%; font-size: 16px;}

.mag{margin-left: -22%;	padding-top: 12%;}

.btn-common{border-radius: 20px; background-color: #26ae61; color: white; margin-top: -22em; margin-right: 52px; margin-left: 18%;}

.line{margin-top: 6%; margin-left: -9%; margin-right: -8%;}


.carr{font-size: 30px; position: relative; font-weight: 700; line-height: 5; font-family: rubik, sans-serif; color: #333;}

.caree{border-radius: 24px; font-size: 14px; margin-left: 191px; margin-top: 17px;}

.suss{margin-top: 18%; font-weight: 500; font-size: 36px; padding-left: 4%; margin-bottom: 30px; text-align: center;}

.sea{margin-top: 38px; margin-left: 247px;}

.spec{padding-top: 15%; margin-left: -14px;}

.searchjob{margin-top: 25px; margin-left:192px;}

.schoool{margin-top: 10%; margin-left: 4%; width: 94%; height: auto;}

.schoolse{margin-right: 24%; margin-top: 110px; font-size: 36px; font-weight: 100; text-align: center;}
.fa-map-marker-alt {position: absolute; margin-top: 5%; padding-left: 1%; font-size: 81%;}

.ma{text-align: center;}

.para{color: #6b6969; font-size: 14px; line-height: 2%; font-family: rubik,sans-serif; margin-top: -49px; }

.sign{color: grey; line-height: 26px; font-family: rubik,sans-serif; font-size: 14px; margin-left:5%; text-align: center;}

.imag{margin-left: -14%; height: 48%; margin-top: 19px;}

.line1{margin-top: -28%; size: 100px; margin-left: -90px; margin-right: -8%;}

.j{margin-left: 22%; margin-top: 161px; font-size: 36px; font-weight: 500;}

.para2{font-size: 14px; color: #6b6969; line-height: 26px; font-family: rubik,sans-serif; margin-left: 4%; padding-top: 2%; text-align: center;}

.line2{margin-top: 17%; margin-right: -94px; margin-left: -94px;}

.e{margin-left: 1%; font-size: 14px; color: #6b6969; line-height: 2px; text-align: center;}

.inner{	border-radius: 50%; width:75%;}


/*footer section start from here*/

.section{padding-top: 60px; padding-right: 0px; padding-bottom: 60px; padding-left: 0px;}

.bg-gray{background-color: rgb(249, 252, 255);}


.mobile{width: 152%; margin-left: -54%;}

.download-wrapper{width: 100%; display: table; height: 100%;}

.download-text h4{font-size: 36px; font-weight: 500; margin-bottom: 33px; margin-top: 10%; font-family: Comic Sans MS, sans-serif;}

.z{color: #6b6969; line-height: 26px; font-family: rubik, sans-serif; margin-top: 0; margin-bottom: 35px; font-size: 14px; }

.img-fluid{max-width: 100%; height: auto;}

.mobile{width:128%; margin-left: -43%;}

.block-title{font-size: 20px; font-weight: 500; color: #fff; margin-bottom: 20px; position: relative;}

.fa-linkedin{background-color: #007bb5; border-radius: 30px; color: white;}


.mt-3{margin-top: 1rem!important;}

.carousel-indicators{position: absolute; right: 0; bottom: -50px; left:0; z-index: 15; display: flex; justify-content: center; padding-left: 0; margin-right: 15%; margin-left: 15%;}

.para3{font-size: 14px; color: grey; margin-top: 33px; margin-right: 183px; margin-left: -49px; padding-left: 10%; line-height: 26px; font-family:rubik, Sans-Serif; text-align: center;}

.hori{margin-top: 10rem; margin-left: -94px; margin-right: -8%;}

.schoolsearch{margin-top:6px; margin-left: 84px;}

.let{font-weight: 700; font-size:30px; padding-top: 6%; margin-left: 33%;}

.notes{font-size: 42px; margin-left: 135px; margin-top: 22%; color: green;}

.resu{font-size: 19px; margin-left: 24%; margin-bottom: 2%; padding-top: 2%;}

.createre{font-size: 14px; color: #6b6969; margin-left: 15%; margin-top: 23px; font-family: rubik,Sans-Serif; line-height: 2%;}

.cir{font-size: 42px; margin-left: 128px; margin-top: 21%; color: green;}

.inti{font-size: 20px; margin-left: 19%; margin-top: 3%;}

.prac{font-size: 15px; color: #6b6969; line-height: 20px; font-family: rubik, Sans-Serif; margin-bottom: 0; text-align: center;}

.micro{font-size: 42px; margin-left: 128px; margin-top: 21%; color: green;}

.voice{font-size: 20px; margin-left: 19%; margin-top: 3%;}

.dis{font-size: 14px; color: #6b6969; margin-left: 8%; line-height: 20px; font-family: rubik, Sans-Serif; margin-bottom: 0;}

.hori2{margin-top: 4rem; margin-bottom: 1rem; margin-left: -94px; margin-right: -94px;}

.quo{font-weight: 700; font-size:30px; padding-top: 4%; text-align: center; padding-bottom: 2%;}

.carousel-indicators li{background-color: blue;}

.slide1{margin-bottom: -5px; margin-top: 0%;}

.sha{width: 730px; margin-left: 187px;}

.kim{max-width: 70px; margin-left: 313px;}

.but{margin-left: 0px; height: 69px; background-color: white; color: green;}

.mo{margin-left: 10%;}

.goo{margin-left: 10%; padding-left: 10%;}

.mobile{width: 128%; margin-left: -43%;}

.foot{background-color: #24324a; margin-left: -2%; padding-top: 5%;}

.pmc2{height: 46px;}

.k{font-size: 14px; color: #8a99b3; margin-top: 5%;}

.bot{line-height: 166%;}

.bott{list-style-type: none; color: #8a99b3; font-size: 14px; margin-left: -10%; font-family: Comic Sans MS, sans-serif;}

.jk{margin-left: -57%; margin-top: 17%;}

.ter{list-style-type: none; color: #8a99b3; font-size: 14px; margin-left: -10%; font-family: Comic Sans MS, sans-serif; line-height: 210%; margin-top: -3%;}

.pri{list-style-type: none; color: #8a99b3; font-size: 14px; margin-left: -10%; font-family: Comic Sans MS, sans-serif;}

.reff{list-style-type: none; color: #8a99b3; font-size: 14px; margin-left: -10%; font-family: Comic Sans MS, sans-serif; line-height: 197%;}

.prod{list-style-type: none; color: #8a99b3; font-size: 14px; margin-left: -10%; font-family: Comic Sans MS, sans-serif;}

.sub{padding-left: 20%; margin-top: -46%; font-size: 20px; font-weight: 500; position: relative; color: white;}

.subsc{color: #8a99b3; padding-left: 20%; font-size: 14px;}

.soci{list-style-type: none;}

.socioic{margin-left: 12%;}


.linki{color: white; background-color: blue; border-radius: 100px; padding: 10px;}

.fa-facebook-f{color: white; background-color: blue; padding: 9px; border-radius: 100px; margin-left: 10px; padding-left: 11px; padding-right: 11px;}

.twit{font-size: 16px; margin-left: 2%; background-color: #17a2b8; color: #eff3f7; border-radius: 220%; padding: 10px;}


.fa-google-plus-g{color: white; background-color: red; border-radius: 100px; padding: 10px; margin-left: 10px; padding-left: 9px; padding-right: 9px;}

.back{background-color: #26ae61; color: white; text-align: center; overflow-x: hidden;}

.fi{text-align: center;}

.copy{margin-top: 22px;}

.wi{background-color: rgb(249, 252, 255);}


.backcolor{ background-color: #24324a;}

.backcolor2{ background-color: #26ae61;}

/*http://localhost/PlanMyCareerHomepage/PlanMyCareerPage/index.html ---